@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);
  --font-display: var(--display-family);
  --font-text: var(--text-family);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
  from {
    transform: translateX(0);
    }
  to {
    transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
  from {
    transform: translateY(0);
    }
  to {
    transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --base-50: oklch(0.9851 0 0);
  --base-100: oklch(0.97 0 0);
  --base-200: oklch(0.922 0 0);
  --base-300: oklch(0.87 0 0);
  --base-400: oklch(0.708 0 0);
  --base-500: oklch(0.556 0 0);
  --base-600: oklch(0.439 0 0);
  --base-700: oklch(0.371 0 0);
  --base-800: oklch(0.269 0 0);
  --base-900: oklch(0.205 0 0);
  --base-950: oklch(0.145 0 0);
  --base-1000: oklch(0.106 0 0);

  --primary-50: oklch(0.9776 0.0129 235.5);
  --primary-100: oklch(0.9514 0.0261 235.71);
  --primary-200: oklch(0.9017 0.0575 233.88);
  --primary-300: oklch(0.8295 0.1091 233.36);
  --primary-400: oklch(0.7401 0.1562 235.78);
  --primary-500: oklch(0.6861 0.1643 236.52);
  --primary-600: oklch(0.5889 0.1533 239.19);
  --primary-700: oklch(0.5008 0.1299 240);
  --primary-800: oklch(0.4434 0.1066 241.04);
  --primary-900: oklch(0.3914 0.0873 242.16);
  --primary-950: oklch(0.2934 0.0641 242.48);
  --primary-1000: oklch(0.2295 0.0488 243.93);

  --secondary-50: oklch(0.9706 0.0127 344.44);
  --secondary-100: oklch(0.9475 0.0254 343.55);
  --secondary-200: oklch(0.8985 0.0551 344.37);
  --secondary-300: oklch(0.8223 0.1086 347.11);
  --secondary-400: oklch(0.7176 0.1826 349.81);
  --secondary-500: oklch(0.6554 0.2184 351.42);
  --secondary-600: oklch(0.5917 0.2256 355.56);
  --secondary-700: oklch(0.5277 0.2019 357.81);
  --secondary-800: oklch(0.4588 0.1693 358.49);
  --secondary-900: oklch(0.4081 0.1388 358.94);
  --secondary-950: oklch(0.2834 0.0985 0.43);
  --secondary-1000: oklch(0.2021 0.0721 1.4);

  --background: oklch(0.9851 0 0);
  --foreground: oklch(0.269 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.269 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.269 0 0);
  --primary: oklch(0.7401 0.1562 235.78);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.5277 0.2019 357.81);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.439 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.269 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.7401 0.1562 235.78);
  --chart-1: oklch(0.7401 0.1562 235.78);
  --chart-2: oklch(0.5277 0.2019 357.81);
  --chart-3: oklch(0.8295 0.1091 233.36);
  --chart-4: oklch(0.8223 0.1086 347.11);
  --chart-5: oklch(0.9514 0.0261 235.71);
  --radius: 0.5rem;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.269 0 0);
  --sidebar-primary: oklch(0.7401 0.1562 235.78);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9851 0 0);
  --sidebar-accent-foreground: oklch(0.269 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.7401 0.1562 235.78);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.922 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.922 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.922 0 0);
  --primary: oklch(0.7401 0.1562 235.78);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.5277 0.2019 357.81);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.87 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.922 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.269 0 0);
  --input: oklch(0.371 0 0);
  --ring: oklch(0.7401 0.1562 235.78);
  --chart-1: oklch(0.7401 0.1562 235.78);
  --chart-2: oklch(0.5277 0.2019 357.81);
  --chart-3: oklch(0.8295 0.1091 233.36);
  --chart-4: oklch(0.8223 0.1086 347.11);
  --chart-5: oklch(0.9514 0.0261 235.71);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.922 0 0);
  --sidebar-primary: oklch(0.7401 0.1562 235.78);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.922 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.7401 0.1562 235.78);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-display {
    font-weight: var(--display-weight);
  }
  .font-text {
    font-weight: var(--text-weight);
  }
}